.main-header {
  position: relative;
  .site-name {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.main-header:after {
   content : "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   background-image: url('./assets/bg.jpg');
   width: 100%;
   height: 100%;
   filter: brightness(35%);
   z-index: -1;
}
