.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .movie-image {
    height: 500px;
  }

  .movie-info {
    color: white;
    margin-left: 45px;
    margin-top: 30px;
  }
}
