.search-form {
  overflow: hidden;
  background-color: rgba($color: #000000, $alpha: 0.7);
  border-bottom: 2px solid #ff3115;
  clear: both;

  .search-field {
    background: none;
    border: none;
    height: 50px;
    width: 100%;
    float: left;
    color: lightgray;
    padding: 0px 20px;
    padding-right: 60px;
  }

  .search-field-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    height: 50px;
    width: 60px;
    color: white;
    font-size: 17px;
    cursor: default;
    position: absolute;
    right: 0px;
  }
}
