@import '~normalize.css';
@import './styles/header';
@import './styles/site-name';
@import './styles/search-field';
@import './styles/search-filters';
@import './styles/button';
@import './styles/search-controls';
@import './styles/sub-header';
@import './styles/movie-list';
@import './styles/movie-box';
@import './styles/sort-item';

* {
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  font-family: sans-serif;
  min-width: 700px;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 1100px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}
