.search-container {
  padding: 40px 100px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding-top: 30px;

  .search-header {
    margin-top: 50px;
    margin-bottom: 25px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .search-controls {
    margin-top: 25px;
  }
}
